
body {
	background-color: bisque;
}

.main-header {
	position: relative;

}

.menu-container:hover {
	background-color: darkgray;
	cursor: default;
}

.menu-container {
	padding: 10px; 
	border: 1px solid black;
}

.restaurant-container {
	background-color: white;
    display: inline-block;
}

.order-container {
	position: fixed;
	left: 75%;
	bottom: 10%;
	background-color: white;
    border: 1px solid black;
    padding: 22px;
}